.div-1{ 
    width: 500px;
    height: 300px;
    background-color:lightgreen;
    border: dotted;
    margin-top: 75px;

}
.div-2{ 
    width: 300px;
    height:250px;
    background-color:lightgreen;
    border:double ;
    margin-left: 75px;

}

.div-3{ 
    width: 250px;
    height: 300px;
    background-color:lightgreen;
    border: solid;
    margin-right: 75px;

}



    .div-1 {
        border
        background-color: #044ec1;
        color: white;

    }
    
    .div-2 {
    	background-color: #ABBAEA;
    }
    
    .div-3 {
    	background-color:#044ef2 ;
    }
 body{ 
     background-color:#A8FCC4;
}

  background-color: green;
  border: none;
  color: white;

